body {
    background-image: url(assets/images/pink_dust.png);
}


#quiz, #results {
    text-align: center;
    margin: 5% 5% 5% 5%;

}

h1 {
    color: blue;
}

hr {
    margin: 5% 0% 5% 0%;
}

p {
    margin: 1% 0% 1% 0%;
}

input {
    display: inline;
}

button{
    margin-top: 3%;
}

/* .container {
    align-content: center;
} */